*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  color: #3d3d3d;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  height: 100vh;
  overflow: hidden;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url(https://i.imgur.com/b9r5sEL.jpg);
  background-size: cover;
  align-content: center;
}

.key {
  margin: 10px 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  border: 3px solid tomato;
  border-radius: 10px;
  display: inline-block;
  padding: 10px 0px;
  cursor: pointer;
  width: 100px;
  transition: 0.5s;
}

.key p {
  font-size: 56px;
  font-weight: bold;
}

.key:hover {
  border-color: goldenrod;
  transform: scale(1.1);
}
